@import "boot.less";
@import "controls.less";
@import "rules.less";

body {
    width: 550px;
    margin: auto !important;
}

/*header {
    width: auto !important;
    margin: 0 10px;
    position: relative !important;
    border-bottom: 1px solid #eee;
    height: 54px;

    .logo {
        width: 32px;
        height: 32px;
        top: 10px;
        position: absolute;
    }

    h1 {
        margin-left: 40px !important;
        border: none !important;
        padding: 16px 0 13px !important;
    }
}

main {
    margin: 0 10px 10px;    
}

footer {
    background-color: #494c51;
    height: 40px;
    position: relative;
}*/

#options-button {
    position: absolute;
    top: 10px;
    right: 0;
}

#pause-button {
    position: absolute;
    right: 5px;
    top: 5px;
    width: calc(~'100% - 10px');
}



.chrome-bootstrap {
    header {
        width: 400px !important;
    }

    .mainview.view {
        width: 400px !important;
    }

    .content {
        width: 400px !important;
    }
}

/*.chrome-bootstrap .frame .navigation {
    width: 100px;
}

.chrome-bootstrap .frame .view {
    -webkit-margin-start: 100px;
    width: auto;
}

.chrome-bootstrap .frame .content {
    width: 255px;
    overflow-x: initial;
}

.chrome-bootstrap header {
    width: 100%;
}*/

.content .rules-container {
    margin-top: 15px;
}

.option-item {

    .option-item-title {
        float: left;
    }

    .option-item-control {
        float: right;
        width: 50px;
    }
}


.rules-container {
    margin: 0 5px 0 15px;

    .rule-container {
        padding-right: 20px;
    }
}
