.chrome-bootstrap h1 {
  font-size: 20px;
  height: auto !important;
}
.chrome-bootstrap h2 {
  /*padding: 15px 0 10px 0;
    margin: 0;*/
  font-size: 18px;
}
.chrome-bootstrap h3 {
  /*padding: 15px 0 10px 0;
    margin: 0;*/
  font-size: 16px;
}
*,
:before,
:after {
  box-sizing: border-box;
}
.clearfix {
  clear: both;
}
button.fs-button {
  font-family: Lato, sans-serif !important;
  background: #494c51;
  border-radius: 0 !important;
  color: #fff !important;
  cursor: pointer;
  display: block !important;
  text-align: center !important;
  text-transform: uppercase !important;
  padding: 10px 15px !important;
  text-decoration: none !important;
  box-shadow: none !important;
  font-size: 11px !important;
  text-shadow: none !important;
}
button.fs-button:hover {
  background: #1c1f1d !important;
}
button.fs-button.button-white {
  background-color: white;
  color: #303942 !important;
  font-weight: bold;
  padding: 8px 15px !important;
}
button.fs-button.button-white:hover {
  background: #eee !important;
}
.chrome-bootstrap input[type='checkbox'].picker-element:disabled {
  opacity: 0;
}
.picker {
  margin: 0 0 5px 0 !important;
}
.picker-element {
  opacity: 0;
  position: absolute !important;
  transition: none !important;
  z-index: -1;
}
.picker.picker-toggle {
  padding-top: 16px !important;
}
.picker.picker-toggle .picker-toggle-label {
  font-size: 9px !important;
}
.picker.picker-toggle.checked .picker-toggle-label.on,
.picker.picker-toggle .picker-toggle-label.off {
  font-weight: bold;
}
.picker.picker-toggle.checked .picker-handle {
  background: #27ae60;
  border-radius: 0;
}
.picker.picker-toggle .picker-handle {
  background: #95a5a6;
  border-radius: 0 !important;
}
.picker.picker-toggle .picker-flag {
  background: none !important;
  border-radius: 0;
}
.picker .picker-handle {
  border: 1px solid #7f8c8d !important;
}
.picker-flag:after {
  content: "";
  position: relative;
  background-color: white;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  display: block;
  top: 2px;
  left: 2px;
}
.stepper {
  width: auto !important;
  border-radius: 0 !important;
  margin-bottom: 3px !important;
}
.stepper .stepper-input {
  border-radius: 0 !important;
  font-size: 15px !important;
  padding-right: 20px !important;
  text-align: center;
}
#separator-dot {
  font-size: 41px;
  width: 8px;
  margin: 0 4px 0 -4px;
  display: block;
}
#global-rule {
  /*position: fixed;
    top: 7px;
    right: 14px;
    z-index: 10;*/
  width: 50px;
  float: right;
}
#global-rule .picker.picker-toggle .picker-handle {
  background: #c0392b;
}
#global-rule .picker.picker-toggle.checked .picker-handle {
  background: #27ae60;
}
#global-rule-title {
  float: left;
}
.option-item {
  padding-right: 13px;
  border-right: 4px solid transparent;
}
.option-item.selected {
  border-right-color: #4e5764;
}
.rule-details {
  -webkit-margin-start: -20px;
  -webkit-transition: margin 100ms, opacity 100ms;
  opacity: 0;
  z-index: 0;
  position: absolute;
  top: 0;
  display: block;
}
.rule-details.selected {
  -webkit-margin-start: 0;
  -webkit-transition: margin 200ms, opacity 200ms;
  -webkit-transition-delay: 100ms;
  position: absolute;
  z-index: 1;
  opacity: 1;
}
.rules-container {
  display: table;
  margin: 0 5px 0 15px;
}
.rules-container .rule-container {
  padding-right: 10px;
  display: table-cell;
}
.rules-container .rule-container .rule-toggle {
  width: 50px;
}
.rules-container .rule-container .rule-content {
  border-bottom: 4px solid transparent;
  width: 50px;
}
.rules-container .rule-container.selected .rule-content {
  border-bottom-color: #4e5764;
}
.details-container {
  position: relative;
  height: 120px;
}
body {
  width: 550px;
  margin: 7px auto auto auto !important;
  position: relative;
}
body .logo {
  width: 48px;
  height: 48px;
  position: absolute;
  left: -30px;
  top: 7px;
}
/*header {
    width: auto !important;
    margin: 0 10px;
    position: relative !important;
    border-bottom: 1px solid #eee;
    height: 54px;

    

    h1 {
        margin-left: 40px !important;
        border: none !important;
        padding: 16px 0 13px !important;
    }
}

main {
    margin: 0 10px 10px;    
}

footer {
    background-color: #494c51;
    height: 40px;
    position: relative;
}*/
#options-button {
  position: absolute;
  top: 10px;
  right: 0;
}
#pause-button {
  position: absolute;
  right: 5px;
  top: 5px;
  width: calc(100% - 10px);
}
.chrome-bootstrap header {
  width: 400px !important;
}
.chrome-bootstrap .mainview.view {
  width: 400px !important;
}
.chrome-bootstrap .content {
  width: 400px !important;
}
/*.chrome-bootstrap .frame .navigation {
    width: 100px;
}

.chrome-bootstrap .frame .view {
    -webkit-margin-start: 100px;
    width: auto;
}

.chrome-bootstrap .frame .content {
    width: 255px;
    overflow-x: initial;
}

.chrome-bootstrap header {
    width: 100%;
}*/
.content .rules-container {
  margin-top: 15px;
}
.option-item .option-item-title {
  float: left;
}
.option-item .option-item-title h3 {
  margin-bottom: 0;
}
.option-item .option-item-control {
  float: right;
  width: 50px;
  margin-top: 7px;
}
.rules-container {
  margin: 0 5px 0 15px;
}
.rules-container .rule-container {
  padding-right: 20px;
}
/*# sourceMappingURL=options.css.map */