@import "boot.less";
@import "controls.less";
@import "rules.less";

body {
    //width: 355px;
    height: 300px;
}

header {
    width: auto !important;
    margin: 0 10px;
    position: relative !important;
    border-bottom: 1px solid #eee;
    height: 54px;

    .logo {
        width: 48px;
        height: 48px;
        top: 2px;
        left: -6px;
        position: absolute;
    }

    h1 {
        margin-left: 47px !important;
        border: none !important;
        padding: 16px 0 13px !important;
    }
}

main {
    margin: 0 10px 10px;    
}

footer {
    background-color: #494c51;
    height: 40px;
    position: relative;
}

#options-button {
    position: absolute;
    top: 10px;
    right: 0;
}

#pause-button {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 94px;
    /*width: calc(~'100% - 10px');*/

    padding-left: 26px !important;

    background-image: url('../images/Play-16.png') !important;
    background-position: 7px 6px !important;
    background-repeat: no-repeat !important;

    &.pause {
        background-image: url('../images/Pause-16.png') !important;
        background-position: 10px 6px !important;
    }

    .icon {
        width: auto;
        height: auto;
        position: absolute;
        margin: 0;
        left: 8px;
        top: 6px;

        .play {
            margin: 0;
        }

        .pause {
            margin: 0;
        }
    }

    .button-title {
        margin-left: 10px;
    }
}





.chrome-bootstrap .frame .navigation {
    width: 100px;
}

.chrome-bootstrap .frame .view {
    -webkit-margin-start: 100px;
    width: auto;
}

.chrome-bootstrap .frame .content {
    width: 255px;
    overflow-x: initial;
}

.chrome-bootstrap header {
    width: 100%;
}


